alabaster-0.7.13
anaconda-client==1.7.2
anaconda-navigator==2.0.3
anaconda-project
anyio
appdirs==1.4.4
argh==0.26.2
argon2-cffi
asn1crypto
astroid
astropy
astunparse==1.6.3
async-generator
atomicwrites==1.4.0
attrs
autopep8
Babel
backcall
backports.functools-lru-cache
backports.shutil-get-terminal-size
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
bitarray
bkcharts==0.2
black==19.10b0
bleach
bokeh
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==5.3.0
certifi==2020.12.5
cffi
chardet
click
cloudpickle
clyent==1.2.2
colorama
comtypes==1.1.9
conda==4.12.0
conda-build==3.21.4
conda-content-trust
conda-package-handling
conda-repo-cli
conda-token
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography
cycler==0.10.0
Cython
cytoolz==0.11.0
dask
decorator
defusedxml
diff-match-patch
display==1.0.0
distributed
docutils
entrypoints==0.3
envs==1.4
et-xmlfile==1.0.1
fastcache==1.1.0
filelock
flake8
flash==1.0.3
Flask
flask-ngrok==0.0.25
flatbuffers==23.5.26
fsspec
future==0.18.2
gast==0.4.0
gdown==4.5.3
gevent
glob2
google-auth==2.19.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet
grpcio==1.54.2
gym==0.21.0
h5py==2.10.0
HeapDict==1.0.1
html5lib
idna
imagecodecs
imageio
imagesize
importlib-metadata==6.6.0
iniconfig
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jax==0.4.10
jdcal==1.4.1
jedi
Jinja2
joblib
json5==0.9.5
jsonschema
jupyter==1.0.0
jupyter-client
jupyter-console
jupyter-core
jupyter-packaging
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kaggle==1.5.12
keras==2.12.0
keyring
kiwisolver
lazy-object-proxy
libarchive-c
libclang==16.0.
